@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body1>   
    <div class="Content-Wrapper">
        <br/>
        <h2><b>P</b>lan <b>M</b>y <b>P</b>arty</h2>
        <br />
        <h3>Plan hier je online feestje!</h3>
        <br />
        <a class="Home-Button" asp-area="" asp-controller="Parties" asp-action="Create"><b>Begin hier!</b></a>   
        
    </div>    
</body1>
</html>



   